@use './variaveis' as *;

.camera-box {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  max-width: 850px;
  margin: 2rem auto;
  text-align: center;
  color: $claro;
  box-shadow: 0 0 25px #2553af;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.preview {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: $fundo;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

  
  }

.btn-acao,
.btn-secundario{
  background: $botao-azul;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: $sombrasBox;
  transition: transform 0.2s, background 0.3s;
  margin-top: 5px;

  &:hover {
      transform: scale(1.05);
      background: $botao-amarelo;
      color: #04010f;
  }

  &:focus {
      outline: 3px solid #ffd700;
      outline-offset: 3px;
  }
}
