@use './variaveis' as *;
.inventario {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 2rem;
  text-align: center;
  color: #fff;
  max-width: 1000px;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 7rem auto;
  border-radius: 10px;


  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .limpar-inventario{
    background: $botao-azul;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $sombrasBox;
    transition: transform 0.2s, background 0.3s;
    margin-top: 2px;
    max-width: 170px;
    display: flex;

     &:hover {
        transform: scale(1.05);
        background: $botao-amarelo;
        color: #04010f;
      }

    &:focus {
        outline: 3px solid #ffd700;
        outline-offset: 3px;
    }
  }

  .vazio {
    font-size: 1.2rem;
    color: #ccc;
  }

  /* Grid responsivo para exibir as figurinhas */
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    margin-top: 5px;
    flex-direction: row;
  }

  .figurinha {
    border-radius: 12px;
    padding: 1rem;
    transition: transform 0.2s;
    max-width: 150px;
    color:$fundo;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    img {
      max-width: 170px;
      height: 170px;
      margin-bottom: 0.5rem;
      
    }

    p {
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

/* 🔹 Responsividade */
@media (max-width: 768px) {
  .inventario {
    max-height: 90vh;
    padding: 1rem;
    margin: 50px 20px;

    h2 {
      font-size: 1.5rem;
    }

    .grid {
      gap: .1rem;
    }

    .figurinha {
      border-radius: 12px;
      padding: .3rem;
      transition: transform 0.2s;
      max-width: 100px;
      color:$fundo;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 130px;
        height: 130px;
        margin-bottom: 0.5rem;
      }
    }

    .limpar-inventario{
      max-width: 140px;
      max-height: 30px;
      font-size: 12px;
      font-weight: normal;
      justify-content: center;
      align-items: center;
    }

    .vazio{
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .inventario {
    h2 {
      font-size: 1.2rem;
    }

    

    .figurinha {
      border-radius: 12px;
      padding: .1rem;
      transition: transform 0.2s;
      max-width: 100px;
      color:$fundo;
      display: flex;
      justify-content: center;
      align-items: center;


      img {
        max-width: 100px;
        height: 100px;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .limpar-inventario{
      max-width: 110px;
      max-height: 30px;
      font-size: 10px;
      font-weight: normal;
      justify-content: center;
      align-items: center;
    }
  }
}
