.menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 1rem;

  .menu-dropdown {
    display: none; // escondido por padrão
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    
    .icon-menu {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: max-height 0.3s ease;
  }

  li {
    flex: 1 1 100px;
    text-align: center;
    justify-content: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: white;
    font-size: 1rem;
  }

  img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  
}




// Responsividade
@media (max-width: 768px) {
  .menu img {
    width: 50px;
    height: 50px;
  }

  .menu figure {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .menu {
    .menu-dropdown {
      display: block; // botão visível no mobile
    }

    ul {
      flex-direction: column;
      gap: 0.5rem;
      max-height: 0; // escondido por padrão
      overflow: hidden;
    }

    ul.open {
      max-height: 500px; // altura suficiente para mostrar todos os itens
    }

    li {
      flex: none;
      width: 100%;
    }
  }
}
